:host {
  --ion-background-color: #182436;
  --ion-text-color: #fff;
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

  header {
    text-align: center;
  }

  section {
    max-width: 1200px;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
  }

  label {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

  div.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

    ul {
      display: flex;
      padding: 0;
      margin: 0 0 30px;
      text-align: center;
      transition: opacity 600ms, visibility 600ms;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        border: solid thin #fff;
        border-radius: 5px;
        max-width: 200px;
        padding: 20px;
        margin: 5px;
      }
    }
  }

  .hidden {
    display: none;
    transition: opacity 600ms, visibility 600ms;
  }

  .value-title, .value-subtitle {
    li {
      font-size: 16px;
      font-weight: bold;

      &:hover, &.selected {
        border-color: #f8f8f2;
        background: #fff;
        color: #182436;
        cursor: pointer;
      }

      &.selected {
        background: #50fa7b;
      }
    }
  }

  .input {
    display: block;
    margin: 0px 0px 15px 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    min-width: 300px;
    width: 90%;

    &.textarea {
      height: 200px;
    }
  }

  .submit-button {
    text-align: center;
    margin-bottom: 25px;
  }

  .generated-image {
    a {
      display: block;
      text-decoration: none;
      img {
        max-width: 1200px;
      }
    }
  }

  .error-box {
    background: #D73841;
    color: #fff;
    padding: 1em;
    width: 100%;
    max-width: 1150px;
    margin: 15px 0;
    border-radius: 5px;
    border: #fff solid 2px;
  }

  footer {
    text-align: center;
  }

  // Spinner
  .spinner {
    text-align: center;

    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
